.keys {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

button.wrong {
    background-color: rgba(255, 0, 0, 0.308);
}

button.guessed {
    background-color: rgba(0, 255, 0, 0.308);
}